{# @copyright   Copyright (C) 2010-2023 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

{# help container #}
<div class="combodo-vcs-integration--help-container">
    <div>
        <div>
            <ul>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_1'|dict_s }}<br><code>Event <span style="color: #d38f05;">[[event]]</span> received from user with login <span style="color: #d38f05;">[[sender->login]]</span> and ID <span style="color: #d38f05;">[[sender->id]]</span>...</code></li>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_2'|dict_s }}<br><code><span style="color: #d38f05;">[[@for commits]]</span><br>&nbsp;&nbsp;&nbsp;&nbsp;commit <span style="color: #d38f05;">[[commit->ref]]</span><br><span style="color: #d38f05;">[[@endfor]]</span></code></li>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_3'|dict_s }}<br><code>Open on GitHub <span style="color: #d38f05;">[[@hyperlink url as ref]]</span></code></li>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_4'|dict_s }}<br><code>Send a mail to <span style="color: #d38f05;">[[@mailto author->email as author->username]]</span></code></li>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_5'|dict_s }}<br><code>Show avatar <span style="color: #d38f05;">[[@image sender->avatar_url]]</span></code></li>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_6'|dict_s }}<br><code>Extract 6 firsts characters from commit id <span style="color: #d38f05;">[[@substring id 0 (6)]]</span></code></li>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_7'|dict_s }}<br><code>Show a counter of an array of elements <span style="color: #d38f05;">[[@count commits (commit commits)]]</span></code></li>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_8'|dict_s }}<br><code>Create a separator <span style="color: #d38f05;">[[@separator (color))]]</span></code></li>
                <li>{{ 'Class:VCSAutomation/UI:Label:templating_syntax_9'|dict_s }}<br><code>Text color <span style="color: #d38f05;">[[@text (color)]]</span></code></li>
            </ul>
        </div>
    </div>
</div>

{# external links #}
<div class="combodo-vcs-integration--help-container--external-links">

    {# open wiki #}
    <a class="ibo-button ibo-button ibo-block  ibo-is-alternative ibo-is-neutral " data-role="ibo-button" href="https://www.itophub.io/wiki/page?id=latest%3Aadmin%3Alog" target="_blank" title="Open Wiki Documentation" aria-label="Open Wiki Documentation">
        <span class="ibo-button--loading-icon fas fa-spinner fa-pulse"></span>
        <span class="ibo-button--icon fas fa-external-link-alt"></span>
        <span class="ibo-button--label">{{ 'Class:VCSAutomation/UI:Button:open_wiki_documentation'|dict_s }}</span>
    </a>

    {# open github doc #}
    <a class="ibo-button ibo-button ibo-block  ibo-is-alternative ibo-is-neutral " data-role="ibo-button" href="https://docs.github.com/en/webhooks/webhook-events-and-payloads" target="_self" title="Edit General Configuration" aria-label="Edit General Configuration">
        <span class="ibo-button--loading-icon fas fa-spinner fa-pulse"></span>
        <span class="ibo-button--icon fas fa-cog"></span>
        <span class="ibo-button--label">{{ 'Class:VCSAutomation/UI:Button:open_github_documentation'|dict_s }}</span>
    </a>

</div>